/* color variables */
:root {
  --color-gold: #b39108;
  --color-light-purple: #dcccef;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;

}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(135deg, #030007, #10002B, #240046, #3C096C, #4a1381, #3C096C, #240046, #10011e);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 1.2rem;
  margin: 1rem;
}

.navmenu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-right: 1.5rem;


}

.navmenu li a {
  display: flex;
  color: rgb(255, 250, 250);
  margin-left: 2.5rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.logoname {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-gold);
  margin: 1rem;

}


.mainText {
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1.5rem;
}

.mainText p {
  margin-top: 3rem;
  color: var(--color-gold)
}

.categories {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  align-items: center;
  list-style: none;
  margin-top: 6rem;
}

.categories li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: var(--color-light-purple);
  margin-bottom: 1.5rem;
  width: 70%;
  border-radius: 1.5rem;
  font-size: 1rem;
  font-family: monospace;

}